#wrapepr{
  width: 1000px;
  margin: 30px auto;
  border: 1px solid black;
}

#header{
  height: 200px;
  border: 1px solid black;
}
#footer{
  height: 200px;
  border: 1px solid black;
}
nav a
{
  text-decoration: none;
  color: #fb0266;
}
.slad
{
  width: 80%;
}
.img1
{
  width: 250px;
  height: 300px;
}
.map
{
  width: 50%;
}
.sorter
{
  text-decoration: none;
  color: black;
}
.logo1
{
  width: 15%;
}